
pan2api/.vs/pan2api/v15/.suo
pan2api/.vs/pan2api/v15/Server/sqlite3/db.lock
pan2api/.vs/pan2api/v15/Server/sqlite3/storage.ide
pan2api/.vs/pan2api/v15/Server/sqlite3/storage.ide-shm
pan2api/.vs/pan2api/v15/Server/sqlite3/storage.ide-wal
pan2api/pan2api/bin/Debug/netcoreapp2.2/pan2api.deps.json
pan2api/pan2api/bin/Debug/netcoreapp2.2/pan2api.dll
pan2api/pan2api/bin/Debug/netcoreapp2.2/pan2api.pdb
pan2api/pan2api/bin/Debug/netcoreapp2.2/pan2api.runtimeconfig.dev.json
pan2api/pan2api/bin/Debug/netcoreapp2.2/pan2api.runtimeconfig.json
pan2api/pan2api/obj/Debug/netcoreapp2.2/pan2api.AssemblyInfo.cs
pan2api/pan2api/obj/Debug/netcoreapp2.2/pan2api.AssemblyInfoInputs.cache
pan2api/pan2api/obj/Debug/netcoreapp2.2/pan2api.assets.cache
pan2api/pan2api/obj/Debug/netcoreapp2.2/pan2api.csproj.CoreCompileInputs.cache
pan2api/pan2api/obj/Debug/netcoreapp2.2/pan2api.csproj.FileListAbsolute.txt
pan2api/pan2api/obj/Debug/netcoreapp2.2/pan2api.csprojAssemblyReference.cache
pan2api/pan2api/obj/Debug/netcoreapp2.2/pan2api.dll
pan2api/pan2api/obj/Debug/netcoreapp2.2/pan2api.pdb
pan2api/pan2api/obj/Debug/netcoreapp2.2/pan2api.RazorAssemblyInfo.cache
pan2api/pan2api/obj/Debug/netcoreapp2.2/pan2api.RazorAssemblyInfo.cs
pan2api/pan2api/obj/Debug/netcoreapp2.2/pan2api.RazorTargetAssemblyInfo.cache
pan2api/pan2api/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
pan2api/pan2api/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
pan2api/pan2api/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
pan2api/pan2api/obj/pan2api.csproj.nuget.cache
pan2api/pan2api/obj/pan2api.csproj.nuget.g.props
pan2api/pan2api/obj/pan2api.csproj.nuget.g.targets
pan2api/pan2api/obj/project.assets.json
pan2api/pan2api/pan2api.csproj.user
pan2api/pan2api/bin/Debug/netcoreapp2.2/netcoreapp2.2/pan2api.deps.json
pan2api/pan2api/bin/Debug/netcoreapp2.2/netcoreapp2.2/pan2api.dll
pan2api/pan2api/bin/Debug/netcoreapp2.2/netcoreapp2.2/pan2api.pdb
pan2api/pan2api/bin/Debug/netcoreapp2.2/netcoreapp2.2/pan2api.runtimeconfig.dev.json
pan2api/pan2api/bin/Debug/netcoreapp2.2/netcoreapp2.2/pan2api.runtimeconfig.json
pan2api/pan2api/bin/Debug/netcoreapp2.2/netcoreapp2.2/pan2api.xml
pan2api/pan2api/bin/Debug/netcoreapp2.2/pan2api.xml
